$darkBlueIntro: hsl(217, 28%, 15%); // (intro and email sign up background)
$darkBlueMainBackground: hsl(218, 28%, 13%);  // (main background)
$darkBlueFooterBackground: hsl(216, 53%, 9%); // (footer background)
$darkBlueMainBackground2: hsl(219, 30%, 18%);  // (testimonials background)
$darkBlueMainBackground3: hsl(218, 28%, 5%);  // (testimonials background)



// ERC COLORS

$orange: #FF914D;
$blue: #38B6FF;
$green: #7ED957;
$white: #fff;
$black: #000;
$black-bg: #1a1a1a;
$violet: #9254e2;

